@import "./reset.css";



:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
   }

   
.container {
  width: min(100% - 30px, 1380px);
  margin-inline: auto;
}

   body {
    background-color: #000;
    height: calc(100vh - 20px);
   }

   h2 , form ,p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
   }



.center {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    place-items: center;

}

.big-box {
  background-color: #1a1d28;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(100px , 1fr));
  transform: rotateX(180deg);
  grid-template-rows: 100px;
  gap: 10px;
  height: 600px;
  padding: 10px;
  width: 600px;
}


.square {
  height: 100px;
  width: 100px;
  animation: animate .3s ease-in-out;
  cursor: pointer;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: animate .3s ease-in-out;
  cursor: pointer;
}

.btn {
  margin-top: 30px;
  font-size: 15px;
  display: inline-block;
  list-style: none;
  text-align: center;
  line-height: 40px;
  width: 140px;
  border-radius: 50px;
  border: 1px solid --app-green;
  background-color: var(--app-green);
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0035e9;
  transition: background-color 0.1s ease-in-out;
}

select + select {
  margin-left: 20px;
}

button {
  margin-left: 20px;
}

select {
  width: 200px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  height: 40px;
  border-radius: 50px;
  border: 1px solid --app-green;
}

@keyframes animate {
  from {
      opacity: 0;
      transform: translateY(12px);
  }
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


